@media  (max-width:1150px){
    .container {
        padding: 0.5rem 1.5rem;
    }
    .block-info {
        min-width: unset;
        gap: 3rem;
    }
    .button-services {
        padding: 1rem 2rem;
    }
    .price-button {
        padding: 0.5rem 2rem;
    }
}
@media (max-width:940px){
    body.noscroll {
        overflow: hidden;
    }
    .main-block {
        margin-top: 4rem;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .text-block{
        max-width: unset;
        padding: 0 2rem;
    }
    .services-title {
        margin-top: 7.125rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }
    .services-elements {
        flex-wrap: wrap;
        gap: 2rem;
    }
    .block-info {
        flex-direction: column;
    }
    .block-price {
        flex-direction: column;
        align-items: center;
    }
    .block-price-element {
        width: fit-content;
    }
    .block-rewies-content {
        flex-direction: column-reverse;
    }
    .rewies-title {
        font-size: 3.125rem;
    }
    /* menu adaptive start*/
    .navigation {
        opacity: 0;
        visibility: hidden;
        margin-top: 0rem;
        right: -100%;
    }
    
    .menu-list {
        position: absolute;
        right: 50%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .our {
        display: block;
        z-index: 9999;
    }
    .navigation.active {
        opacity: 1;
        visibility: visible;
        position: absolute;
        transition: all 0.8s ease;
        top: 0;
        right: 0;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(250, 245, 245, 0.966);
		overflow: auto;   
    }
    .c-hamburger {
     display: block;
     position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 70px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 10;
    }

    .c-hamburger span {
        display: block;
        position: absolute;
        top: 40px;
        left: 10px;
        right: 10px;
        height: 4px;
        background: #000;
    }
    .c-hamburger span::before, .c-hamburger span::after {
        height: 4px;
    } 

    /* menu adaptive finish*/
    .button-services:hover {
        transform: scale(1.0);
    }
}
@media (max-width:767px){
   .services-elements {
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   .block-rewies-titles {
       flex-direction: column;
       align-items: center;
       gap: 1rem;
   }
}
@media(max-width:500px){

    .title {
        font-size: 2.5rem;
    }
    .form {
        padding :0.5rem;
    }
    .form-input {
        /* max-width:15rem; */
        font-size: 0.7rem;
        padding: 0.5rem;
    }
    .form-input::placeholder {
        font-size: 0.7rem;
    }
    .block-rewies-titles {
        margin-top: 4rem;
    }
    .form-title {
        min-width: unset;
    }
    .checkbox {
        margin-right: .5rem;
    }

    .checkbox-text {
        font-size: .8rem;
    }
    .header-pricing {
        font-size: 2rem;
    }

    .rewies-title {
        font-size:2rem;
    }
    .services-title {
        font-size: 2rem;
    }
    .block-gallery-pictures {
        max-width: unset;
        /* display: flex; */
        grid-template-columns: 1fr 1fr;
    }
    .link {
        grid-column:1/3 ;
    }
    .block-footer > .text-footer {
        font-size: .7rem;
    }


}