@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Serif&display=swap');

body {
    font-family: 'Montserrat';
    animation: show 2s;
}

@keyframes show {

    from {opacity: 0;} to {opacity: 1;}
    }

@keyframes form-down {
    from {
        margin-bottom: 0;
    }
    to {
        margin-bottom: -6.5rem;
    }
}
@keyframes block-right {
    from {
        margin-left:-2rem;
    }
    to {
        margin-left:0;
    }
}
@keyframes menu-left {
    from {
        margin-right:-2rem;
    }
    to {
        margin-right:0;
    }
}
p {
    font-family: "PTSerif-Regular";
    line-height: 2rem;
    font-size: 1.25rem;
}
h1,h2 {
    font-family: "Montserrat";
    font-weight: 700;
}
button {
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
}
.container {
    max-width: 65rem;
    margin: 0 auto;
    padding: 0.5rem 6.25rem;
}
.navigation {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-background {
    background-image: url("../img/Group 1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: 100% 100%;
    background-color: #fff;
}
.layer {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}
.menu-list {
    transition: 0.5s ease all;
    animation-name:menu-left;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.menu-list :not(:last-child) {
    margin-right: 1.8rem;
}
.menu-link {
    display: inline;
}
.menu-link-element {
    font-family: "Montserrat";
    font-weight: 700;
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 0.75rem;
    border-radius: 8px;
}
.menu-link-element:hover {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    transition: .4s all ease;
    background-color: #d03958;
    color: #fff;
}

/* burger menu start*/

.c-hamburger {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 70px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 44px;
    left: 30px;
    right: 30px;
    height: 6px;
    background: #000;
}

.c-hamburger span::before, .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 6px;
    background-color:#000;
    content: "";
}

.c-hamburger span::before {
    top: -20px;
}

.c-hamburger span::after {
    bottom: -20px;
}

.c-hamburger-line {
    background-color: transparent;

}

.c-hamburger-line span {
    transition: background 0s 0.3s;
}

.c-hamburger-line span::before, .c-hamburger-line span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger-line span::before {
    transition-property: top, transform;
}

.c-hamburger-line span::after {
    transition-property: bottom, transform;
}

/* состояние active при открытом меню  */

.c-hamburger-line.is-active {
    background-color: transparent;
}

.c-hamburger-line.is-active span {
    background: none;
}

.c-hamburger-line.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}

.c-hamburger-line.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.c-hamburger-line.is-active span::before, .c-hamburger-line.is-active span::after {
    transition-delay: 0s, 0.3s;
}

/*burger menu finish*/

.title {
    font-family: "Montserrat";
    font-size: 5.625rem;
    font-weight: 700;
    margin-bottom: 3.125rem;
}
.text-block {
    max-width: 31.125rem;
    text-transform: uppercase;
    transition: 0.5s ease all;
    animation-name:block-right;
    animation-duration: 2s;
    animation-fill-mode: forwards;   
}

.color {
    color: #d03958;
}
.main-block {
    margin-top: 8.5rem;
    display: flex;
    justify-content: space-between;
}
.form {
    display: flex;
    flex-direction: column;
    background: #d03958;
    padding: 1.875rem 1.25rem;
    border-radius: 8px;
    transition: 0.5s ease all;
    animation-name:form-down;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.form-title {
    color: #fff;
    font-size: 1.375rem;
    margin-bottom: 2.5rem;
    min-width: 21.875rem;
    font-weight: normal;
    text-align: center;
}
.form-input {
    padding: 1.25rem;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
}
.form-input::placeholder {
    font-size: 1.25rem;
    color: #c4c4c4;
}
.form-input.error {
    border-radius: 10px;
background: rgb(230, 206, 206);
border: 3px solid #cf2525;

}
.form-input.error::placeholder {
    color: #cf2525;
}
.checkbox-block.error > .checkbox-text {
    color: rgb(230, 206, 206);
}

.checkbox {
    margin-right: 1.25rem;
}
.checkbox-text {
    font-size: 1rem;
    color: #fff;
}
.checkbox-block {
    margin-bottom: 1.25rem;
}
.text {
    font-size: 1.25rem;
    text-transform: none;
}
.button {
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: #fff;
    background: #000;
    border-radius: 8px;
    padding: 1.25rem 0;
    cursor: pointer;

}

.services-elements {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    margin-bottom: 4rem;
    gap: 5rem;
}

.services-title {
    font-size: 3.75rem;
    margin-top: 2.125rem;
    margin-bottom: 5rem;
}
.picture {
    padding-bottom: 3rem;
}
.services-elements-footer {
    display: flex;
    background-color: #d03958;
    color: #fff;
    justify-content: space-between;
}
.block-info {
    display: flex;
    justify-content:space-between;
    min-width: 63.5rem;
    padding: 1.5rem 0;
}
.button-services {
    color: #161616;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 3px;
    background: #e3d5b8;
    outline: none;
    border:none;
    padding: 1.5rem 4.1rem;
    transition: all 0.5s ease;
}

.button-services:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.block-price-background {
    background: #e3d5b8;
}
.header-pricing {
    font-size: 4.125rem;
    text-transform: uppercase;
    margin:3.75rem 0;
    text-align: center;
}
.block-price {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    margin-bottom: -0.5rem;
}

.block-price-element{
    font-family:'PTSerif-Regular';
	background-color: #fff;
	text-align:center; 
	line-height: 2rem;
    padding: 2rem 3.75rem 0 3.75rem;
}
.price-button {
    color: #161616;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 1.25rem;
    border-radius: 3px;
    background: #e3d5b8;
    border:none;
    outline: none;
    padding:1rem 4rem;
    margin-top: 2.5rem;
}
.price-button:hover{
    color: #fff;
    background: #d03958;
    transition: .4s all ease;
}
.price-title {
	color: #d03958;
	font-family:"Montserrat";
	font-size: 3.75rem;
	font-weight: 700;
	text-transform: uppercase;
    margin: 2.5rem 0;
}

.block-rewies-titles {
    display:flex;
    justify-content:space-around;
    margin-top: 9.5rem;
}
.rewies-title {
    font-size: 4.125rem;
    font-weight: 700;
}
.block-rewies-content {
    display: flex;
    justify-content: space-between;
    margin: 4.0625rem 0;
}

.footer {
    background: #161616;
}

.block-gallery-pictures {
    display: grid;
    justify-items: center;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 24.375rem;
    gap: 2rem 0.5rem;
}
.block-comments-element:not(:last-child) {
    margin-bottom: 4rem;
}
.comments-text:not(:last-child) {
    padding-bottom:1.5rem;
}

.link{
    display: block;
    color: #d03958;
    font-family:"Montserrat";
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    grid-column: 1/4;
}
.block-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0 4rem 0;
}

.block-comments {
    max-width: 28rem;
}
.text-footer {
    color: #fff;
}
.block-comments-element {
    border-radius: 8px;
    padding: 1.5rem;
}
.block-comments-element:hover {
    background: #e3d5b8;
    transition: all 0.5s ease;
}
#author {
    font-family: "Montserrat";
    font-weight: 700;
}

.gallery-picture:hover {
    transition: all 0.5s ease;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
